/* main.css */

body {
  margin: 0;
  background-color: #ffffff; /* was #000000 */
}

#page-container {
  width: inherit;
  position: relative;
  z-index: 1;
}

/* full-screen background canvas */
#neural-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}


/*#page-container {
  width: inherit;
  background-image: url('imageedit_2_2786842543.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;  /* first value: width of the image, second value: height */
/*}*/


#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}



#footer {
  position: fixed;
  margin-top: 20px; /* space between content and footer */
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  height: 50px;            /* Footer height */
  background: black;
  left: 0px;
  font-family: sans-serif;
  color: white;
  font-size: 0.75vw;
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  #footer {
    height: 5vw;
    font-size: 1.75vw;
    padding-top: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  #footer {
    height: 5vw;
    font-size: 2.5vw;
    padding-top: 2vw;
  }
}



#horzline {
    max-width:60%;
    text-align:center;
    height:1px;
    margin-bottom:30px
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  #horzline {
    max-width:75%;
  }
}

@media only screen and (max-width: 600px) {
  #horzline {
    max-width:80%;
  }
}


.content-overlay {
  width: 80%;
  max-width: 90%;                 /* width of the “panel” */
  margin: 40px auto 80px auto;       /* center it, add top/bottom spacing */
  padding: 20px 20px;                /* inner padding for text */
  background: rgba(255, 255, 255, 0.9); /* white with transparency */
  border-radius: 16px;               /* rounded corners (optional) */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08); /* soft shadow (optional) */
  box-sizing: border-box;
}
