#page-container {
  position: relative;
  min-height: 100vh;
  background-image: url('image-from-rawpixel-id-555802.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 20%;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: fixed;
  margin-top: 20px;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  height: 50px;            /* Footer height */
  background: black;
  left: 0px;
  font-family: sans-serif;
  color: white;
}
