body {
  background-color: #FFFFFF;
  margin: 0;
}

.content {
  background-color: #FFFFFF;
  font-family: sans-serif;
}

.researchlogo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    padding: 10px;
}

#images{
   text-align:center;
}

